@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background-color: #EFEBD8;
}

.container h1 {
  text-align: center; /* Center horizontally */
  margin-bottom: 10px; /* Add some spacing below the header */
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

.input-container{
  display: flex;
  align-items: center;
}

.input-container input{
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.task-container{
  background-color:  #B3B3B3;
  margin-top: 3%;
  border-radius: 5px;
  border: solid 0.5px #636363;
  width: 90%;
  box-sizing: border-box;
}

.completed-tasks-header {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  background-color: #5F9EA0; /* Change to your desired background color */
  color: white; /* Text color */
  padding: 10px;
  border-radius: 5px;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}